.NavButton {
    color: rgb(255, 255, 255);
    padding: 6px 20px;
    margin: 14px 0;
    font-size: medium;
    border: none;
    cursor: pointer;
    float: left;
}

.NavButton:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.LoginButton {
    color: rgb(255, 255, 255);
    padding: 6px 20px;
    margin: 14px 0;
    border: rgb(90, 63, 14);
    font-size: large;
    cursor: pointer;
}

.LoginButton:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}